################################################################################
#  CLIENT BUILD (Create-React-App / Webpack)
#  Values here are consumed at *build time*; they end up in the static bundle
#  so NEVER place secrets below!
################################################################################
# PUBLIC_URL=/

# REACT_APP_BASENAME=/
REACT_APP_ENDPOINT_DEV=localhost:8000
REACT_APP_ENDPOINT_TEST=localhost:8000
# REACT_APP_ENDPOINT_EU=
# REACT_APP_ENDPOINT_US=
# REACT_APP_ENDPOINT_US_BACKUP=
REACT_APP_API=localhost:8080
# REACT_APP_API_BACKUP=
# REACT_APP_RECAPTCHA_CLIENT_KEY=